#dimg_oqyAZ6qDFNKrwbkPwOuZqQo_269{
    width: 30px;
    height:30px;
}
.btn-group {
    margin-right: 80px;
  }
.navbar-brand{
    margin-left:60px;
}
.dropdown-item-red{
    color:red;
    margin-left:20px;
}
.square-button{
    height: 15px;
    border:0;
}
.image-wrapper{
    width:100%;
    height: 300px;
    overflow: hidden;
}
.image-wrapper img {
    width: 100%; 
    height: 95%; 
    object-fit: cover;
  }